<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-custom"> 
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="main-content d-flex flex-column min-vw-0">
            <div class="custom-tab-container">
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'TrainingPoliciy' }"
                (click)="selectedTab = 'TrainingPoliciy'"
              >
                Training Policiy
              </button>
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'DocumentReview' }"
                (click)="selectedTab = 'DocumentReview'"
              >
                Document Review
              </button>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'TrainingPoliciy'">
              <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                <div class="status-box-leftColmd6-standard">
                  <h3 class="PnlHeader">Document requiring Training before Authorization</h3>
                  <br />
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-6 mb-10">
                      <div class="d-flex">
                        <label
                          >Approval Authorities can only give their observations, but not edit the
                          document</label
                        >

                        <label
                          >Users will be required to go through training if any document is
                          created/updated w.r.t following Document Types</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-editable-ag-grid-wrapper
                  [gridStyle]="{ width: '100%', height: '500px' }"
                  class="ag-theme-alpine"
                  [gridId]="'employee-planning-grid'"
                  [config]="gridConfig"
                  [isSelectionRequired]="true"
                  [rowData]="trainingPolicesData"
                  [pinnedTopRowData]="pinnedTopRowDataPlanning"
                  (rowAdded)="onRowAdded($event)"
                  (rowUpdated)="onRowUpdated($event)"
                  (rowDeleted)="onRowDeleted($event)"
                  (cellValueChanged)="onCellValueChanged($event)"
                  (selectionChanged)="onSelectionChanged($event)"
                  (gridReady)="onGridReady($event)"
                  (actionClicked)="handleGridAction($event)"
                >
                </app-editable-ag-grid-wrapper>
              </div>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'DocumentReview'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-ag-grid-wrapper
                  [gridStyle]="{ width: '100%', height: '250px' }"
                  [columnDefs]="documentReviewColumnDef"
                  [defaultColDef]="defaultColDef"
                  [rowData]="documentReviewRowData"
                  [pageSize]="selectedPageSize"
                  [isSelectionRequired]="false"
                  [showDisplayOption]="false"
                  gridId="DocumentReview"
                  (pageSizeChange)="onPageSizeChanged($event)"
                  [totalRows]="totalDocumentReview"
                  (serverQuery)="GetAllDocumentReview($event)"
                >
                </app-ag-grid-wrapper>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
