<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-custom">
        <div class="clearfix">
          <div class="pull-left">
            <h3 class="mt-0">Training for SOP Documents</h3>
            <small class="text-muted">Training for SOP Documents</small>
          </div>
        </div>
        <br />
        <hr />
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="main-content d-flex flex-column min-vw-0">
            <div class="custom-tab-container">
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'Class Room' }"
                (click)="selectedTab = 'Class Room'"
              >
                Class Room
              </button>
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'Online' }"
                (click)="selectedTab = 'Online'"
              >
                Online
              </button>
            </div>

            <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="status-box-leftColmd6-standard">
                <h3 class="PnlHeader">
                  {{ 'labels.Filter' | safeTranslate }}
                </h3>
                <br />
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                    <div class="PnlHeading">
                      <label>{{ 'labels.DocumentType' | safeTranslate }} </label>
                    </div>
                    <div>
                      <app-document-type-list
                        valueKey="CODE"
                        labelKey="NAME"
                        placeholder="Select DocumentType"
                        [(ngModel)]="selectedDocumentType"
                        (valueChange)="onDocumentTypeChange($event)"
                        width="250px"
                      >
                      </app-document-type-list>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 mb-10">
                    <app-cabinet-structure-list (hierarchyChange)="onHierarchyChange($event)">
                    </app-cabinet-structure-list>
                  </div>
                </div>
              </div>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'Class Room'">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-my-pending-request-for-approval> </app-my-pending-request-for-approval>
                <!-- <app-ag-grid-wrapper
                  [gridStyle]="{ width: '100%', height: '450px' }"
                  [columnDefs]="classRoomColumnDefs"
                  [defaultColDef]="defaultColDef"
                  [rowData]="rowData"
                  [pageSize]="selectedPageSize"
                  [isSelectionRequired]="false"
                  [showDisplayOption]="false"
                  gridId="classroomGrid"
                  (pageSizeChange)="onPageSizeChanged($event)"
                  [totalRows]="totalClassRoom"
                  (serverQuery)="GetAllClassRooms($event)"
                >
                </app-ag-grid-wrapper> -->
              </div>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'Online'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-my-pending-request-for-approval> </app-my-pending-request-for-approval>
                <!-- <app-ag-grid-wrapper
                  [gridStyle]="{ width: '100%', height: '450px' }"
                  [columnDefs]="onlineColumnDefs"
                  [defaultColDef]="defaultColDef"
                  [rowData]="rowData"
                  [pageSize]="selectedPageSize"
                  [isSelectionRequired]="false"
                  [showDisplayOption]="false"
                  gridId="onlineGrid"
                  (pageSizeChange)="onPageSizeChanged($event)"
                  [totalRows]="totalOnline"
                  (serverQuery)="GetAllOnline($event)"
                >
                </app-ag-grid-wrapper> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
