<div class="approval-table-wrapper">
  <!-- ================= VIEW MODE ================= -->

  <div *ngIf="isViewMode" class="approval-table">
    <table class="approval-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Designation</th>
          <!-- <th>Division</th> -->
          <th>Observation</th>
          <th>Last Action Performed</th>
          <th>Last Action Performed On</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of observations">
          <td class="emp">{{ o.EmployeeName }}</td>
          <td>{{ o.roleName }}</td>
          <td class="obs">{{ o.Designation }}</td>
          <!-- <td class="obs">{{ o.Division }}</td> -->
          <td class="obs" [innerHTML]="o.Observation"></td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                approve: o.Decision === 'Approved',
                reject: o.Decision === 'Rejected' || o.Decision === 'Reworked',
              }"
            >
              {{ o.Decision }}
            </span>
          </td>
          <td>{{ o.ActionAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- ================= INPUT MODE ================= -->

  <div *ngIf="isInputMode">
    <form [formGroup]="form">
      <!-- <div class="mb-2">
        <label
          ><b>{{ modalData.action }} Observation</b></label
        >
      </div> -->

      <!-- <textarea
        rows="5"
        class="form-control"
        formControlName="observation"
        placeholder="Enter your observation here"
      >
      </textarea> -->
      <div class="editor">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" formControlName="observation" [disabled]="IsReadyOnly">
        </ngx-editor>
      </div>

      <div
        class="text-danger mt-1"
        *ngIf="form.get('observation')?.touched && form.get('observation')?.hasError('required')"
      >
        Observation is required
      </div>
      <div class="row mt-4 pb-3">
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center gap-3">
          <button
            type="button"
            tabindex="0"
            class="btn btn-primary shadow-sm"
            style="width: 140px !important; height: 35px !important;"
            [disabled]="loading"
            (click)="submit()"
          >
            <span
              class="spinner-border spinner-border-sm me-2"
              role="status"
              aria-hidden="true"
              *ngIf="loading"
            ></span>
            <i class="bi bi-file-earmark-text me-2" *ngIf="!loading"></i>
            Submit
          </button>
          <button
            type="button"
            tabindex="0"
            class="btn btn-secondary shadow-sm"
            style="width: 160px !important; height: 35px !important;"
            [disabled]="loading"
            (click)="saveDraft()"
          >
            <span
              class="spinner-border spinner-border-sm me-2"
              role="status"
              aria-hidden="true"
              *ngIf="loading"
            ></span>
            <i class="bi bi-save me-2" *ngIf="!loading"></i>
            Save Observation
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
