<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card-custom">
          <div class="clearfix">
            <div class="pull-left">
              <h3 class="mt-0">Request for Document Creation/Update</h3>
              <small class="text-muted">Request for Document Creation/Update</small>
            </div>
          </div>
          <br />
          <hr />
          <hr />
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="main-content d-flex flex-column min-vw-0">
              <div class="custom-tab-container">
                <button
                  class="tab-button"
                  tabindex="0"
                  [ngClass]="{ 'active-tab': selectedTab === 'NewRequest' }"
                  (click)="selectedTab = 'NewRequest'"
                >
                  New Request
                </button>
                <button
                  class="tab-button"
                  tabindex="0"
                  [ngClass]="{ 'active-tab': selectedTab === 'MyRequestPendingApproval' }"
                  (click)="selectedTab = 'MyRequestPendingApproval'"
                >
                  My Request Pending Approval
                </button>
              </div>

              <div class="row row-space" *ngIf="selectedTab === 'NewRequest'">
                <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="status-box-leftColmd6-standard">
                    <h3 class="PnlHeader">Document Justification</h3>
                    <br />
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                        <div class="PnlHeading">
                          <label>{{ 'labels.RequestType' | safeTranslate }} </label>
                        </div>
                        <div>
                          <nz-select
                            style="width: 200px"
                            [(ngModel)]="selectedAuthorityType"
                            nzPlaceHolder="Select RequestType"
                            (ngModelChange)="onAuthorityTypeChange($event)"
                            nzAllowClear
                            nzShowSearch
                          >
                            <nz-option
                              *ngFor="let dep of requestTypes"
                              [nzValue]="dep.CODE"
                              [nzLabel]="dep.NAME"
                            >
                            </nz-option>
                          </nz-select>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                        <div class="PnlHeading">
                          <label>{{ 'labels.Company' | safeTranslate }} </label>
                        </div>
                        <div class="Divtxtemployeeschright" style="width: 200px">
                          <div>
                            <nz-select
                              style="width: 200px"
                              [nzPlaceHolder]="'Select Company'"
                              nzAllowClear
                              nzShowSearch
                            >
                              <nz-option
                                *ngFor="let dep of companies"
                                [nzValue]="dep.CODE"
                                [nzLabel]="dep.NAME"
                              >
                              </nz-option>
                            </nz-select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row row-space">
                      <!-- Dynamic Columns -->
                      <ng-container [ngSwitch]="selectedAuthorityType">
                        <!-- CASE 1: 3 Columns -->
                        <ng-container *ngSwitchCase="1">
                          <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                            <span class="d-flex">Document Name</span>
                            <input
                              maxlength="10"
                              appDecimalInput
                              name="DocumentName"
                              type="text"
                              style="width: 200px !important"
                              [ngClass]="{
                                'form-control': true,
                                'input-sm': true
                              }"
                            />
                          </div>
                          <div class="col-lg-9 col-md-9 col-sm-6 mb-10">
                            <span class="d-flex">Justification</span>
                            <input
                              maxlength="10"
                              appDecimalInput
                              name="Justification"
                              type="text"
                              style="width: 100% !important"
                              [ngClass]="{
                                'form-control': true,
                                'input-sm': true
                              }"
                            />
                          </div>

                          <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="PnlHeader">
                              {{ 'labels.Cabinet' | safeTranslate }}
                            </h3>
                            <br />
                            <div class="row">
                              <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                                <div class="PnlHeading">
                                  <label>{{ 'labels.DocumentType' | safeTranslate }} </label>
                                </div>
                                <div>
                                  <nz-select
                                    style="width: 200px"
                                    [nzPlaceHolder]="'Select DocumentType'"
                                    nzAllowClear
                                    nzShowSearch
                                  >
                                    <nz-option
                                      *ngFor="let dep of documentTypes"
                                      [nzValue]="dep.CODE"
                                      [nzLabel]="dep.NAME"
                                    >
                                    </nz-option>
                                  </nz-select>
                                </div>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                                <div class="PnlHeading">
                                  <label>{{ 'labels.Division' | safeTranslate }} </label>
                                </div>
                                <div class="Divtxtemployeeschright" style="width: 200px">
                                  <div>
                                    <nz-select
                                      style="width: 200px"
                                      [nzPlaceHolder]="'Select Division'"
                                      nzAllowClear
                                      nzShowSearch
                                    >
                                      <nz-option
                                        *ngFor="let dep of divisions"
                                        [nzValue]="dep.CODE"
                                        [nzLabel]="dep.NAME"
                                      >
                                      </nz-option>
                                    </nz-select>
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                                <div class="PnlHeading">
                                  <label>{{ 'labels.Department' | safeTranslate }}</label>
                                </div>
                                <div>
                                  <nz-select
                                    style="width: 200px"
                                    [nzPlaceHolder]="'Select Department'"
                                    nzAllowClear
                                    nzShowSearch
                                  >
                                    <nz-option
                                      *ngFor="let dep of departments"
                                      [nzValue]="dep.CODE"
                                      [nzLabel]="dep.NAME"
                                    >
                                    </nz-option>
                                  </nz-select>
                                </div>
                              </div>

                              <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                                <div class="PnlHeading">
                                  <label>{{ 'labels.SubDepartment' | safeTranslate }}</label>
                                </div>
                                <div>
                                  <nz-select
                                    style="width: 200px"
                                    [nzPlaceHolder]="'Select Sub-Department'"
                                    nzAllowClear
                                    nzShowSearch
                                  >
                                    <nz-option
                                      *ngFor="let dep of subDepartments"
                                      [nzValue]="dep.CODE"
                                      [nzLabel]="dep.NAME"
                                    >
                                    </nz-option>
                                  </nz-select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="PnlHeader">
                              {{ 'labels.Users' | safeTranslate }}
                            </h3>
                            <br />
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <app-ag-grid-wrapper
                                [gridStyle]="{ width: '100%', height: '250px' }"
                                class="ag-theme-alpine"
                                [columnDefs]="userGridColumnDefs"
                                [rowData]="userData"
                                [defaultColDef]="defaultColDef"
                                [overlayNoRowsTemplate]="noRowsOverlay"
                                [pagination]="false"
                              >
                              </app-ag-grid-wrapper>
                            </div>
                          </div>
                          <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="PnlHeader">
                              {{ 'labels.DistributionList' | safeTranslate }}
                            </h3>
                            <br />
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <app-ag-grid-wrapper
                                [gridStyle]="{ width: '100%', height: '250px' }"
                                class="ag-theme-alpine"
                                [columnDefs]="distributionListGridColumnDefs"
                                [rowData]="distributionListData"
                                [defaultColDef]="defaultColDef"
                                [overlayNoRowsTemplate]="noRowsOverlay"
                                [pagination]="false"
                              >
                              </app-ag-grid-wrapper>
                            </div>
                          </div>

                          <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="PnlHeader">
                              {{ 'labels.DocumentContent' | safeTranslate }}
                            </h3>
                            <br />
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <input
                                maxlength="1000"
                                appDecimalInput
                                name="DocumentContent"
                                type="text"
                                style="width: 100% !important"
                                [ngClass]="{
                                  'form-control': true,
                                  'input-sm': true
                                }"
                              />
                            </div>
                          </div>

                          <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="PnlHeader">
                              {{ 'labels.WorkflowAuthorities' | safeTranslate }}
                            </h3>
                            <br />
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <app-ag-grid-wrapper
                                [gridStyle]="{ width: '100%', height: '250px' }"
                                class="ag-theme-alpine"
                                [columnDefs]="workflowAuthoritiesColumnDefs"
                                [rowData]="workflowAuthoritiesData"
                                [defaultColDef]="defaultColDef"
                                [overlayNoRowsTemplate]="noRowsOverlay"
                                [pagination]="false"
                              >
                              </app-ag-grid-wrapper>
                            </div>
                          </div>
                        </ng-container>
                        <!-- DEFAULT CASE: No Columns -->
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-space" *ngIf="selectedTab === 'MyRequestPendingApproval'">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <app-ag-grid-wrapper
                    [gridStyle]="{ width: '100%', height: '550px' }"
                    class="ag-theme-alpine"
                    [rowData]="pendingApprovalData"
                    [columnDefs]="pendingRequestApprovalColumnDefs"
                    [defaultColDef]="defaultColDef"
                    [overlayNoRowsTemplate]="noRowsOverlay"
                    [pagination]="true"
                    [pageSize]="10"
                  >
                  </app-ag-grid-wrapper>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
