<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-custom">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="main-content d-flex flex-column min-vw-0">
            <div class="custom-tab-container">
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'NewRequest' }"
                (click)="selectedTab = 'NewRequest'"
              >
                New Request
              </button>
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'DraftRequest' }"
                (click)="selectedTab = 'DraftRequest'"
              >
                Draft Request
                <span *ngIf="draftDocumentCounts > 0" class="badge rounded-pill bg-warning text-dark border shadow-sm font-monospace px-2 py-1" style="font-size: 11px">{{
                  draftDocumentCounts
                }}</span>
              </button>
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'MyRequestPendingApproval' }"
                (click)="selectedTab = 'MyRequestPendingApproval'"
              >
                My Requests Pending Approval
                <span
                  *ngIf="myDocumentRequestPendingForApprovalCount > 0"
                  class="badge rounded-pill bg-success text-white border shadow-sm font-monospace px-2 py-1" style="font-size: 11px"
                  >{{ myDocumentRequestPendingForApprovalCount }}</span>
              </button>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'NewRequest'">
              <app-document-request-form [mode]="'create'" (requestCreated)="onRequestCreated()"> </app-document-request-form>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'DraftRequest'">
              <app-draft-request-list></app-draft-request-list>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'MyRequestPendingApproval'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-pending-request-for-approval> </app-pending-request-for-approval>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
