<app-editable-ag-grid-wrapper
  [gridStyle]="{ width: '100%', height: '500px' }"
  class="ag-theme-alpine"
  [gridId]="'employee-planning-grid'"
  [config]="gridConfig"
  [rowData]="businessDomainData"
  [pinnedTopRowData]="pinnedTopRowDataPlanning"
  [isSelectionRequired]="true"
  [autoSizeColumns]="true"
  (rowAdded)="onRowAdded($event)"
  (rowUpdated)="onRowUpdated($event)"
  (rowDeleted)="onRowDeleted($event)"
  (cellValueChanged)="onCellValueChanged($event)"
  (selectionChanged)="onSelectionChanged($event)"
  (gridReady)="onGridReady($event)"
>
</app-editable-ag-grid-wrapper>
