<app-ag-grid-wrapper
  [gridStyle]="{ width: '100%', height: '500px' }"
  [columnDefs]="workflowAuthoritiesColumnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="uploadedDocumentsData"
  [isSelectionRequired]="false"
  [showDisplayOption]="false"
  [autoSizeColumns]="true"
  [pageSize]="selectedPageSize"
  [totalRows]="totalUplodedDocument"
  gridId="userListGrid"
  class="ag-theme-alpine"
  [config]="gridConfig"
  (pageSizeChange)="onPageSizeChanged($event)"
  (serverQuery)="GetAllUploadedDocuments($event)"
>
</app-ag-grid-wrapper>

<!-- Document Content Modal Template -->
<ng-template #documentModalTpl>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <!-- Download Button (If URL exists) -->
      <ng-container *ngIf="draftFileUrl">
        <div class="alert alert-info d-flex align-items-center mb-4" style="font-size: 14px">
          <i class="bi bi-info-circle-fill me-2 fs-5 text-info"></i>
          <div>
            <strong>Instructions:</strong> Please download the attached document to view it.
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4 mb-4">
          <button nz-button nzType="primary" (click)="downloadDraft()">
            <span nz-icon nzType="download"></span> Download Document
          </button>
        </div>
      </ng-container>

      <!-- Rich Text Box (If no URL exists) -->
      <ng-container *ngIf="!draftFileUrl">
        <app-dmsrich-text-edit
          [editorStyle]="{ width: '100%', height: '500px' }"
          [contentHtml]="templateHtml"
          (contentHtmlChange)="templateHtml = $event"
        ></app-dmsrich-text-edit>
      </ng-container>
    </div>
  </div>
</ng-template>
