<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-custom">
        <div class="clearfix">
          <div class="pull-left">
            <h3 class="mt-0">Document Authorization Post Training</h3>
            <small class="text-muted">Document Authorization Post Training</small>
          </div>
        </div>
        <br />
        <hr />
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="main-content d-flex flex-column min-vw-0">
            <div class="custom-tab-container">
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'Pending Authorization' }"
                (click)="selectedTab = 'Pending Authorization'"
              >
                Pending Authorization
              </button>
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'Authorized' }"
                (click)="selectedTab = 'Authorized'"
              >
                Authorized
              </button>
            </div>

            <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="status-box-leftColmd6-standard">
                <h3 class="PnlHeader">
                  {{ 'labels.Cabinet' | safeTranslate }}
                </h3>
                <br />
                <div class="row">
                  <!-- <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                    <div class="PnlHeading">
                      <label>{{ 'labels.Division' | safeTranslate }} </label>
                    </div>
                    <div class="Divtxtemployeeschright" style="width: 250px">
                      <div>
                        <app-division-list
                          valueKey="CODE"
                          labelKey="NAME"
                          placeholder="Select Division"
                          [(ngModel)]="selectedDivisions"
                          (valueChange)="onDivisionChange($event)"
                          width="250px"
                        >
                        </app-division-list>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                    <div class="PnlHeading">
                      <label>{{ 'labels.Department' | safeTranslate }}</label>
                    </div>
                    <div>
                      <app-department-list
                        valueKey="CODE"
                        labelKey="NAME"
                        placeholder="Select Department"
                        [division]="selectedDivisions"
                        [(ngModel)]="selectedDepartment"
                        (valueChange)="onDepartmentsChange($event)"
                        width="250px"
                      >
                      </app-department-list>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                    <div class="PnlHeading">
                      <label>{{ 'labels.SubDepartment' | safeTranslate }}</label>
                    </div>
                    <div>
                      <app-sub-department-list
                        valueKey="CODE"
                        labelKey="NAME"
                        placeholder="Select SubDepartment"
                        [department]="selectedDepartment"
                        [(ngModel)]="selectedSubDepartment"
                        width="250px"
                      >
                      </app-sub-department-list>
                    </div>
                  </div> -->
                  <div class="col-lg-9 col-md-9 col-sm-9 mb-10">
                    <app-cabinet-structure-list></app-cabinet-structure-list>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                    <div class="PnlHeading">
                      <label>{{ 'labels.DocumentType' | safeTranslate }} </label>
                    </div>
                    <div>
                      <app-document-type-list
                        valueKey="CODE"
                        labelKey="NAME"
                        placeholder="Select DocumentType"
                        [(ngModel)]="selectedDocumentType"
                        (valueChange)="onDocumentTypeChange($event)"
                        width="250px"
                      >
                      </app-document-type-list>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="status-box-leftColmd6-standard">
                <h3 class="PnlHeader">
                  {{ 'labels.Documents' | safeTranslate }}
                </h3>
                <br />
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                    <div class="PnlHeading">
                      <label>{{ 'labels.Authorization Status' | safeTranslate }} </label>
                    </div>
                    <div>
                      <nz-select
                        style="width: 100%"
                        [nzPlaceHolder]="'Select Filter'"
                        nzAllowClear
                        nzShowSearch
                      >
                        <nz-option
                          *ngFor="let dep of authorizationStatues"
                          [nzValue]="dep.id"
                          [nzLabel]="dep.text"
                        >
                        </nz-option>
                      </nz-select>
                    </div>
                  </div>
                  <div
                    class="col-lg-1 col-md-1 col-sm-1 mb-10 pl-2"
                    style="padding: 25px"
                    *ngIf="selectedTab === 'Pending Authorization'"
                  >
                    <svg
                      style="
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                        fill: #000000;
                        margin-right: 10px;
                      "
                      viewBox="0 0 448 512"
                      title="Update"
                      data-action-type="update"
                    >
                      <path
                        data-action-type="update"
                        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
                      />
                    </svg>
                    |
                    <svg
                      style="
                        width: 14px;
                        height: 14px;
                        cursor: pointer;
                        fill: #000000;
                        margin-right: 10px;
                      "
                      viewBox="0 0 384 512"
                      title="Cancel"
                      data-action-type="cancel"
                    >
                      <path
                        data-action-type="cancel"
                        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'Pending Authorization'">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-my-pending-request-for-approval> </app-my-pending-request-for-approval>
                <!-- <app-ag-grid-wrapper
                  [gridStyle]="{ width: '100%', height: '450px' }"
                  [columnToggles]="columnToggles"
                  [columnDefs]="pendingAuthorizationColumnDefs"
                  [defaultColDef]="defaultColDef"
                  [isSelectionRequired]="true"
                  [showDisplayOption]="true"
                  [rowData]="pendingAuthorizationData"
                  [pageSize]="pageSize"
                  [totalRows]="totalRows"
                  [pageSize]="selectedPageSize"
                  gridId="documentGrid"
                  (pageSizeChange)="onPageSizeChanged($event)"
                  (serverQuery)="GetAllDocuments($event)"
                >
                </app-ag-grid-wrapper> -->
              </div>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'Authorized'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-my-pending-request-for-approval> </app-my-pending-request-for-approval>
                <!-- <app-ag-grid-wrapper
                  [gridStyle]="{ width: '100%', height: '250px' }"
                  [columnDefs]="UploadedDocColumnDefs"
                  [defaultColDef]="defaultColDef"
                  [isSelectionRequired]="false"
                  [showDisplayOption]="false"
                  [rowData]="pendingAuthorizationData"
                  [pageSize]="pageSize"
                  [totalRows]="totalRows"
                  [pageSize]="selectedPageSize"
                  gridId="authorizationStatusGrid"
                  (pageSizeChange)="onPageSizeChanged($event)"
                  (serverQuery)="GetAllUploadedDocuments($event)"
                >
                </app-ag-grid-wrapper> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
