<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-custom"> 
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="main-content d-flex flex-column min-vw-0">
            <div class="custom-tab-container">
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'Pending Authorization' }"
                (click)="onTabChange('Pending Authorization')" 
              >
                Pending Authorization
              </button>
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'Authorized' }"
                (click)="onTabChange('Authorized')"
              >
                Authorized
              </button>
            </div>

            <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="status-box-leftColmd6-standard">
                <h3 class="PnlHeader">
                  {{ 'labels.Cabinet' | safeTranslate }}
                </h3>
                <br />
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-9 mb-10">
                    <app-cabinet-structure-list 
                      [divisionCode]="selectedDivisions"
                      [departmentCode]="selectedDepartment"
                      [subDepartmentCode]="selectedSubDepartment"
                      [businessDomainCode]="selectedbusinessDomain"
                      (hierarchyChange)="onHierarchyChange($event)">
                    </app-cabinet-structure-list>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                    <div class="PnlHeading">
                      <label>{{ 'labels.DocumentType' | safeTranslate }} </label>
                    </div>
                    <div>
                      <app-document-type-list
                        valueKey="CODE"
                        labelKey="NAME"
                        placeholder="Select DocumentType"
                        [(ngModel)]="selectedDocumentType"
                        (valueChange)="onDocumentTypeChange($event)"
                        width="250px"
                      >
                      </app-document-type-list>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="status-box-leftColmd6-standard">
                <h3 class="PnlHeader">
                  {{ 'labels.Documents' | safeTranslate }}
                </h3>
                <br />
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                    <div class="PnlHeading">
                      <label>{{ 'labels.Authorization Status' | safeTranslate }} </label>
                    </div>
                    <div>
                      <nz-select
                        style="width: 100%"
                        [nzPlaceHolder]="'Select Filter'"
                        [(ngModel)]="selectedAuthorizationStatus"
                        (ngModelChange)="onAuthorizationStatusChange($event)"
                        nzAllowClear
                        nzShowSearch
                      >
                        <nz-option
                          *ngFor="let dep of authorizationStatues"
                          [nzValue]="dep.id"
                          [nzLabel]="dep.text"
                        >
                        </nz-option>
                      </nz-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'Pending Authorization'">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-ag-grid-wrapper
                  [gridStyle]="{ width: '100%', height: '450px' }"
                  [columnToggles]="columnToggles"
                  [columnDefs]="pendingAuthorizationColumnDefs"
                  [defaultColDef]="defaultColDef"
                  [isSelectionRequired]="true"
                  [showDisplayOption]="true"
                  [rowData]="pendingAuthorizationData"
                  [pageSize]="pageSize"
                  [totalRows]="totalRows"
                  gridId="authorizedGrid"
                  (gridReady)="onGridReady($event)"
                  (pageSizeChange)="onPageSizeChanged($event)"
                  (serverQuery)="GetAllDocuments($event)"
                >
                  <div grid-actions class="grid-action-icons">
                    <button class="grid-icon-btn" title="Approve" (click)="approve()">
                      <i class="bi bi-check2-square"></i>
                    </button>

                    <button class="grid-icon-btn" title="Disapprove" (click)="approve()">
                      <i class="bi bi-x-square"></i>
                    </button> 
                  </div>
                </app-ag-grid-wrapper>
              </div>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'Authorized'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-ag-grid-wrapper
                  [gridStyle]="{ width: '100%', height: '450px' }"
                  [columnToggles]="columnToggles"
                  [columnDefs]="pendingAuthorizationColumnDefs"
                  [defaultColDef]="defaultColDef"
                  [isSelectionRequired]="false"
                  [showDisplayOption]="true"
                  [rowData]="pendingAuthorizationData"
                  [pageSize]="pageSize"
                  [totalRows]="totalRows"
                  gridId="pendingAuthGrid"
                  (gridReady)="onGridReady($event)"
                  (pageSizeChange)="onPageSizeChanged($event)"
                  (serverQuery)="GetAllDocuments($event)"
                > 
                </app-ag-grid-wrapper>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
