<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-custom">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="main-content d-flex flex-column min-vw-0">
            <div class="custom-tab-container">
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'Requests' }"
                (click)="onTabChange('Requests')"
              >
                Requests
              </button>
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'Requests pending My Approval' }"
                (click)="onTabChange('Requests pending My Approval')"
              >
                Requests pending My Approval
              </button>
              <button
                class="tab-button"
                tabindex="0"
                [ngClass]="{ 'active-tab': selectedTab === 'My Submitted Requests' }"
                (click)="onTabChange('My Submitted Requests')"
              >
                My Submitted Requests
              </button>
            </div>
            <div class="row row-space" *ngIf="selectedTab === 'Requests'">
              <div class="row row-space">
                <div class="row-space col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="status-box-leftColmd6-standard">
                    <div class="row mb-10 mt-2">
                      <div class="col-12">
                        <div class="alert alert-info d-flex align-items-center mb-0 shadow-sm" style="font-size: 14px; border-left: 4px solid #0dcaf0;">
                          <i class="bi bi-info-circle-fill me-3 fs-5 text-info"></i>
                          <div>
                            <strong>Instructions:</strong> Initiate the transfer of responsibilities related to the Document Management System (DMS). This includes transferring document approvals and access rights from one employee to another. A formal request will be generated and routed to the appropriate approver for authorization.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                        <div class="PnlHeading">
                          <label
                            >{{ 'labels.Employee (From)' | safeTranslate }}
                            <span class="text-danger ml-1">*</span></label
                          >
                        </div>
                        <div>
                          <nz-select
                            style="width: 300px"
                            [nzPlaceHolder]="'Select Employee(From)'"
                            [(ngModel)]="selectedEmployeeFrom"
                            (ngModelChange)="onEmployeeFromChange($event)"
                            nzAllowClear
                            nzShowSearch
                            nzVirtualHeight="300px"
                            nzVirtualItemSize="32"
                            [nzOptions]="employeeOptions"
                          >
                          </nz-select>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                        <div class="PnlHeading">
                          <label
                            >{{ 'labels.Employee (To)' | safeTranslate }}
                            <span class="text-danger ml-1">*</span></label
                          >
                        </div>
                        <div class="Divtxtemployeeschright" style="width: 250px">
                          <div>
                            <nz-select
                              style="width: 300px"
                              [nzPlaceHolder]="'Select Employee(To)'"
                              [(ngModel)]="selectedEmployeeTo"
                              nzAllowClear
                              nzShowSearch
                              nzVirtualHeight="300px"
                              nzVirtualItemSize="32"
                              [nzOptions]="filteredEmployeeToOptions"
                            >
                            </nz-select>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                        <div class="PnlHeading">
                          <label
                            >{{ 'labels.Reason For Transfer' | safeTranslate
                            }}<span class="text-danger ml-1">*</span></label
                          >
                        </div>
                        <div>
                          <nz-select
                            style="width: 300px"
                            [nzPlaceHolder]="'Select Reason For Transfer'"
                            [(ngModel)]="selectedReasonForTransfer"
                            nzAllowClear
                            nzShowSearch
                          >
                            <nz-option
                              *ngFor="let dep of reasonForTransfer"
                              [nzValue]="dep.CODE"
                              [nzLabel]="dep.NAME"
                            >
                            </nz-option>
                          </nz-select>
                        </div>
                      </div>
                    </div>
                    <div class="row pt-4">
                      <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                        <span class="d-flex align-items-center"
                          >Effective Date (From)<span class="text-danger ml-1">*</span>
                          <i class="bi bi-info-circle text-info ml-2" title="All the approvals and access from the selected employee will be transferred on the selected data."></i>
                        </span>
                        <nz-date-picker
                          [nzPlaceHolder]="'Select Date'"
                          [(ngModel)]="selectedEffectiveDateFrom"
                          style="width: 50%"
                          [nzFormat]="'dd/MMM/yyyy'"
                        >
                        </nz-date-picker>
                      </div>

                      <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                        <span class="d-flex"
                          >Effective Date (To)<span class="text-danger ml-1">*</span></span
                        >
                        <nz-date-picker
                          [nzPlaceHolder]="'Select Date'"
                          [(ngModel)]="selectedEffectiveDateTo"
                          [nzDisabled]="isPermanentTransfer"
                          style="width: 50%"
                          [nzFormat]="'dd/MMM/yyyy'"
                        >
                        </nz-date-picker>
                      </div>

                      <div class="col-lg-3 col-md-3 col-sm-6 mb-10 pt-4">
                        <label
                          nz-checkbox
                          [(ngModel)]="isPermanentTransfer"
                          (ngModelChange)="onPermanentTransferChange($event)"
                        >
                          Permanent Transfer
                        </label>
                      </div>
                    </div>
                    <div class="row pt-4">
                      <div class="col-lg-12 col-md-12 col-sm-6 mb-10">
                        <div class="PnlHeading">
                          <label
                            >Upload Document (DOCX/PDF/PNG/JPG)<span class="text-danger ml-1"
                              >*</span
                            ></label
                          >
                        </div>
                        <input
                          type="file"
                          #fileInput
                          class="form-control input-sm mt-2"
                          (change)="onFileSelected($event)"
                          accept=".pdf,.doc,.docx,.png,.jpg"
                          style="width: 350px"
                        />
                      </div>
                    </div>
                    <div class="row pt-4">
                      <div class="col-lg-12 col-md-12 col-sm-6 mb-10">
                        <span class="d-flex">Remarks <span class="text-danger ml-1">*</span></span>
                        <textarea
                          style="width: 50%"
                          rows="4"
                          nz-input
                          [(ngModel)]="remarks"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row mt-4 btn-stick">
                <div
                  class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center gap-3 px-4 pb-3"
                >
                  <div class="col-sm-1">
                    <button
                      type="button"
                      tabindex="0"
                      class="btn btn-sm btn-outline-secondary shadow-sm"
                      (click)="submitRequest($event)"
                    >
                      <i class="bi bi-file-earmark-text me-2"></i>
                      Submit
                    </button>
                  </div>
                  <div class="col-sm-1">
                    <button
                      type="button"
                      tabindex="0"
                      class="btn btn-sm btn-primary shadow-sm"
                      (click)="cancel()"
                    >
                      <i class="bi bi-cancel me-2"></i>
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'Requests pending My Approval'">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                  <div class="PnlHeading">
                    <label>{{ 'labels.Requests pending My Approval' | safeTranslate }} </label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="PnlHeading">
                    <label>Status</label>
                  </div>
                  <nz-select
                    style="width: 100%"
                    [(ngModel)]="selectedStatus"
                    (ngModelChange)="selectStatus($event)"
                    nzPlaceHolder="Select Status"
                  >
                    <nz-option
                      *ngFor="let s of statues"
                      [nzValue]="s.id"
                      [nzLabel]="s.text"
                    ></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                  <app-ag-grid-wrapper
                    [gridStyle]="{ width: '100%', height: '350px' }"
                    [columnDefs]="pendingRequestApprovalColumnDefs"
                    [defaultColDef]="defaultColDef"
                    [rowData]="pendingApprovalData"
                    [isSelectionRequired]="selectedStatus === '1'"
                    [showDisplayOption]="true"
                    [totalRows]="totalPendingApprovals"
                    [pageSize]="selectedPageSize"
                    gridId="myRequestPendingApprovalGrid"
                    (pageSizeChange)="onPageSizeChanged($event)"
                    (serverQuery)="GetAllResponsibilityTransferForms($event)"
                    (selectionChange)="onSelectionChange($event)"
                  >
                    <div grid-actions class="grid-action-icons" *ngIf="selectedStatus === '1'">
                      <button
                        class="grid-icon-btn"
                        title="Approve"
                        [disabled]="!hasSelectedRows || !this.canAdd"
                        [class.disabled]="!hasSelectedRows"
                        (click)="approveDocument('Approved')"
                      >
                        <i class="bi bi-check2-square"></i>
                      </button>
                      <button
                        class="grid-icon-btn"
                        title="Reject"
                        [disabled]="!hasSelectedRows || !this.canAdd"
                        [class.disabled]="!hasSelectedRows"
                        (click)="approveDocument('Rejected')"
                      >
                        <i class="bi bi-x-square"></i>
                      </button>
                      <!-- <button class="grid-icon-btn" title="Revert" [disabled]="!hasSelectedRows" [class.disabled]="!hasSelectedRows" 
                      (click)="approveDocument('Reverted')">
                        <i class="bi bi-reply"></i>
                      </button> -->
                    </div>
                  </app-ag-grid-wrapper>
                </div>
              </div>
            </div>

            <div class="row row-space" *ngIf="selectedTab === 'My Submitted Requests'">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                  <div class="PnlHeading">
                    <label>{{ 'labels.My Submitted Requests' | safeTranslate }} </label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="PnlHeading">
                    <label>Status</label>
                  </div>
                  <nz-select
                    style="width: 100%"
                    [(ngModel)]="selectedStatus"
                    (ngModelChange)="selectStatus($event)"
                    nzPlaceHolder="Select Status"
                  >
                    <nz-option
                      *ngFor="let s of statues"
                      [nzValue]="s.id"
                      [nzLabel]="s.text"
                    ></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                  <app-ag-grid-wrapper
                    [gridStyle]="{ width: '100%', height: '350px' }"
                    [columnDefs]="submittedRequestColumnDefs"
                    [defaultColDef]="defaultColDef"
                    [rowData]="submittedApprovalData"
                    [isSelectionRequired]="false"
                    [showDisplayOption]="true"
                    [totalRows]="totalSubmittedApprovals"
                    [pageSize]="selectedPageSize"
                    gridId="mySubmittedRequestsGrid"
                    (pageSizeChange)="onPageSizeChanged($event)"
                    (serverQuery)="GetAllSubmittedResponsibilityTransferForms($event)"
                    (selectionChange)="onSelectionChange($event)"
                  >
                  </app-ag-grid-wrapper>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
