<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="Master-box mb-4">
      <h3 class="PnlHeader">Document Justification</h3>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
          <div class="PnlHeading">
            <label
              >{{ 'labels.Request Type' | safeTranslate }} <span class="text-danger">*</span></label
            >
          </div>
          <div>
            <nz-select
              style="width: 250px"
              [(ngModel)]="selectedDocumentRequestType"
              nzPlaceHolder="Select Request Type"
              (ngModelChange)="onRequestTypeChange($event)"
              nzAllowClear
              nzShowSearch
            >
              <nz-option *ngFor="let dep of requestTypes" [nzValue]="dep.id" [nzLabel]="dep.text">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
          <div class="PnlHeading">
            <label>{{ 'labels.Company' | safeTranslate }} <span class="text-danger">*</span></label>
          </div>
          <div class="Divtxtemployeeschright">
            <div>
              <nz-select
                style="width: 250px"
                [nzPlaceHolder]="'Select Company'"
                [(ngModel)]="selectedCompany"
                (ngModelChange)="onCompanyChange($event)"
                nzAllowClear
                nzShowSearch
              >
                <nz-option *ngFor="let dep of companies" [nzValue]="dep.id" [nzLabel]="dep.text">
                </nz-option>
              </nz-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <!-- Dynamic Columns -->
      <ng-container [ngSwitch]="selectedDocumentRequestType">
        <div *ngIf="showDocumentDiv">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 mb-10">
              <div class="status-box-leftColmd6-standard">
                <div class="row mb-4">
                  <div class="col-lg-12 col-md-12 col-sm-12 mb-10">
                    <span class="d-flex">Filter</span>
                    <nz-select
                      style="width: 200px"
                      [nzPlaceHolder]="'Select Filter'"
                      nzAllowClear
                      nzShowSearch
                    >
                      <nz-option
                        *ngFor="let dep of filters"
                        [nzValue]="dep.CODE"
                        [nzLabel]="dep.NAME"
                      >
                      </nz-option>
                    </nz-select>
                  </div>
                </div>

                <div class="mt-4">
                  <app-ag-grid-wrapper
                    [gridStyle]="{ width: '100%', height: '350px' }"
                    [columnToggles]="columnToggles"
                    [columnDefs]="documentColumnDefs"
                    [defaultColDef]="defaultColDef"
                    [isSelectionRequired]="false"
                    [autoSizeColumns]="true"
                    [showDisplayOption]="true"
                    [rowData]="documentRevisionData"
                    [pageSize]="pageSize"
                    [totalRows]="totalRows"
                    [pageSize]="selectedPageSize"
                    gridId="documentGrid"
                    (pageSizeChange)="onPageSizeChanged($event)"
                    (serverQuery)="GetEffectiveDocumentsForRevision($event)"
                    (cellClicked)="onCellClicked($event)"
                  >
                  </app-ag-grid-wrapper>
                  <!-- <app-documents-component></app-documents-component> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- CASE 1: 3 Columns -->
        <div *ngIf="showDocumentCreationDiv && (!showDocumentDiv || selectedDocumentRow)">
          <!-- Document Profile & Cabinet Section -->
          <div class="status-box-leftColmd6-standard mb-4 mt-4">
            <h3 class="PnlHeader" style="margin-top: 0">Document Profile & Cabinet</h3>
            <div class="row mb-4">
              <div class="col-sm-3 col-md-3 col-lg-3 mb-10">
                <div class="PnlHeading">
                  <label
                    >{{ 'labels.Document Name' | safeTranslate }}
                    <span class="text-danger">*</span></label
                  >
                </div>
                <input
                  maxlength="200"
                  appDecimalInput
                  [(ngModel)]="documentName"
                  name="Document Name"
                  type="text"
                  [disabled]="showDocumentDiv"
                  style="width: 250px !important"
                  [ngClass]="{
                    'form-control': true,
                    'input-md': true,
                  }"
                />
              </div>
              <div class="col-lg-9 col-md-9 col-sm-6 mb-10">
                <div class="PnlHeading">
                  <label
                    >{{ 'labels.Justification' | safeTranslate }}
                    <span class="text-danger">*</span></label
                  >
                </div>
                <textarea rows="3" nz-input [(ngModel)]="inputJustificationValue"></textarea>
              </div>
            </div>

            <div class="row" *ngIf="!showDocumentDiv">
              <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                <div class="PnlHeading">
                  <label
                    >{{ 'labels.Document Type 1' | safeTranslate }}
                    <span class="text-danger">*</span></label
                  >
                </div>
                <div>
                  <app-document-type-list
                    valueKey="CODE"
                    labelKey="NAME"
                    placeholder="Select Document Type"
                    [(ngModel)]="selectedDocumentType"
                    (valueChange)="onDocumentTypeChange($event)"
                    width="250px"
                  >
                  </app-document-type-list>
                </div>
              </div>

              <div class="col-lg-9 col-md-9 col-sm-9 mb-10">
                <app-cabinet-structure-list
                  [divisionCode]="selectedDivisions"
                  [departmentCode]="selectedDepartment"
                  [subDepartmentCode]="selectedSubDepartment"
                  [businessDomainCode]="selectedBusinessDomain"
                  (hierarchyChange)="onHierarchyChange($event)"
                >
                </app-cabinet-structure-list>
              </div>
            </div>

            <div class="row" *ngIf="showDocumentDiv">
              <div class="col-lg-3 col-md-3 col-sm-6 mb-10">
                <div class="PnlHeading">
                  <label>{{ 'labels.Document Type' | safeTranslate }} </label>
                </div>
                <div>
                  <input
                    maxlength="200"
                    appDecimalInput
                    [(ngModel)]="displayDocumentType"
                    [disabled]="true"
                    name="Document Type"
                    type="text"
                    style="width: 250px !important"
                    [ngClass]="{
                      'form-control': true,
                      'input-md': true,
                    }"
                  />
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 mb-10">
                <app-cabinet-structure-list
                  [divisionCode]="selectedDivisions"
                  [departmentCode]="selectedDepartment"
                  [subDepartmentCode]="selectedSubDepartment"
                  [businessDomainCode]="selectedBusinessDomain"
                  [disabled]="showDocumentDiv"
                  (hierarchyChange)="onHierarchyChange($event)"
                >
                </app-cabinet-structure-list>
              </div>
              <!-- <div class="col-lg-2 col-md-2 col-sm-6 mb-10">
                <div class="PnlHeading">
                  <label>{{ 'labels.Division' | safeTranslate }} </label>
                </div>
                <div>
                  <input
                    maxlength="200"
                    appDecimalInput
                    [(ngModel)]="displayDivision"
                    [disabled]="true"
                    name="Division"
                    type="text"
                    style="width: 250px !important"
                    [ngClass]="{
                      'form-control': true,
                      'input-md': true,
                    }"
                  />
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 mb-10">
                <div class="PnlHeading">
                  <label>{{ 'labels.Department' | safeTranslate }} </label>
                </div>
                <div>
                  <input
                    maxlength="200"
                    appDecimalInput
                    [(ngModel)]="displayDepartment"
                    [disabled]="true"
                    name="Department"
                    type="text"
                    style="width: 250px !important"
                    [ngClass]="{
                      'form-control': true,
                      'input-md': true,
                    }"
                  />
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 mb-10">
                <div class="PnlHeading">
                  <label>{{ 'labels.Sub-Department' | safeTranslate }} </label>
                </div>
                <div>
                  <input
                    maxlength="200"
                    appDecimalInput
                    [(ngModel)]="displaySubDepartment"
                    [disabled]="true"
                    name="Sub-Department"
                    type="text"
                    style="width: 250px !important"
                    [ngClass]="{
                      'form-control': true,
                      'input-md': true,
                    }"
                  />
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 mb-10">
                <div class="PnlHeading">
                  <label>{{ 'labels.Business Domain' | safeTranslate }} </label>
                </div>
                <div>
                  <input
                    maxlength="200"
                    appDecimalInput
                    [(ngModel)]="displayBusinessDomain"
                    [disabled]="true"
                    name="Business Domain"
                    type="text"
                    style="width: 250px !important"
                    [ngClass]="{
                      'form-control': true,
                      'input-md': true,
                    }"
                  />
                </div>
              </div> -->
            </div>
          </div>

          <!-- Document Users Section -->
          <div class="status-box-leftColmd6-standard mb-4">
            <h3 class="PnlHeader" style="margin-top: 0">Document Users</h3>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-drusers-component
                  [selectedUsers]="distributionUserList"
                  [documentTypeCode]="selectedDocumentType"
                  (usersChanged)="distributionUserList = $event"
                ></app-drusers-component>
              </div>
            </div>
          </div>

          <!-- Distribution List Section -->
          <div class="status-box-leftColmd6-standard mb-4">
            <h3 class="PnlHeader" style="margin-top: 0">Distribution List</h3>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-drdistribution-list
                  [DocumentTypeCode]="selectedDocumentType"
                  [selectedDistributionList]="distributionListPayload"
                  (distributionChanged)="onDistributionChanged($event)"
                >
                </app-drdistribution-list>
              </div>
            </div>
          </div>

          <!-- Document Content Section -->
          <div
            class="status-box-leftColmd6-standard mb-4"
            *ngIf="draftFileUrl || (templateHtml && templateHtml.trim() !== '')"
          >
            <h3 class="PnlHeader" style="margin-top: 0">Document Content (Optional)</h3>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- HTML Template Editor -->
                <ng-container
                  *ngIf="selectedTemplateType === '3' || (!selectedTemplateType && !draftFileUrl)"
                >
                  <div *ngIf="templateHtml && templateHtml.trim() !== ''">
                    <app-dmsrich-text-edit
                      [editorStyle]="{ width: '100%', height: '300px' }"
                      [contentHtml]="templateHtml"
                      (contentHtmlChange)="templateHtml = $event"
                    ></app-dmsrich-text-edit>
                  </div>
                </ng-container>
                <!-- Word/PDF File Upload/Download -->
                <ng-container
                  *ngIf="
                    selectedTemplateType === '1' ||
                    selectedTemplateType === '2' ||
                    (!selectedTemplateType && draftFileUrl)
                  "
                >
                  <div
                    class="alert alert-info d-flex align-items-center mb-4"
                    style="font-size: 14px"
                  >
                    <i class="bi bi-info-circle-fill me-2 fs-5 text-info"></i>
                    <div>
                      <strong>Instructions:</strong>
                      <span *ngIf="!showDocumentDiv"
                        >Download the standard template, fill in the required details offline, and
                        upload your finalized draft below.</span
                      >
                      <span *ngIf="showDocumentDiv"
                        >Download the existing document below, update it offline, and upload the
                        finalized revision.</span
                      >
                    </div>
                  </div>

                  <div class="d-flex align-items-center gap-3 mb-4">
                    <button
                      *ngIf="!showDocumentDiv"
                      type="button"
                      class="btn btn-outline-primary"
                      (click)="downloadTemplate()"
                    >
                      <i class="bi bi-download me-1"></i> Download Standard Template
                    </button>
                    <button
                      *ngIf="showDocumentDiv"
                      type="button"
                      class="btn btn-outline-success"
                      (click)="downloadDraft()"
                    >
                      <i class="bi bi-file-earmark-arrow-down me-1"></i> Download Existing Document
                    </button>
                  </div>

                  <div class="PnlHeading">
                    <label>Upload Drafted Document (DOCX/PDF)</label>
                  </div>

                  <!-- File Input -->
                  <div class="d-flex align-items-center gap-3 mt-2">
                    <input
                      #fileInput
                      type="file"
                      class="form-control input-md"
                      (change)="onDraftFileSelected($event)"
                      [attr.accept]="expectedTemplateExtension ? '.' + expectedTemplateExtension : '.pdf,.doc,.docx'"
                      style="width: 350px"
                      [hidden]="uploadedFile"
                    />

                    <!-- File Info and Actions -->
                    <div
                      *ngIf="uploadedFile"
                      class="d-flex align-items-center gap-3 p-2 border rounded-2 bg-light shadow-sm"
                      style="min-width: 380px"
                    >
                      <div class="d-flex align-items-center gap-2 flex-grow-1 min-w-0">
                        <i [class]="'bi fs-4 ' + getFileIconClass(getDraftFileName())"></i>
                        <div class="d-flex flex-column min-w-0">
                          <span
                            class="fw-semibold text-dark text-truncate"
                            style="max-width: 240px"
                            [title]="getDraftFileName()"
                          >
                            {{ getDraftFileName() }}
                          </span>
                          <span class="text-muted" style="font-size: 11px">
                            {{ uploadedFile ? 'Local Draft' : 'Submitted Document' }}
                          </span>
                        </div>
                      </div>
                      <div class="d-flex gap-2">
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-primary d-flex align-items-center justify-content-center"
                          (click)="uploadedFile ? reviewDraftedFile() : downloadDraft()"
                          title="View / Review File"
                          style="width: 32px; height: 32px; padding: 0; border-radius: 6px"
                        >
                          <i class="bi bi-eye fs-6"></i>
                        </button>
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center"
                          (click)="removeDraftedFile()"
                          title="Remove File"
                          style="width: 32px; height: 32px; padding: 0; border-radius: 6px"
                        >
                          <i class="bi bi-trash fs-6"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <!-- Workflow Authorities Section -->
          <div
            *ngIf="showExclusionTable && approvalSequenceData && approvalSequenceData.length > 0"
            class="status-box-leftColmd6-standard mb-4"
          >
            <h3 class="PnlHeader" style="margin-top: 0">
              {{ 'labels.Workflow Authorities' | safeTranslate }}
            </h3>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table mb-0">
                  <thead>
                    <th>Approval Sequence</th>
                    <th>Employee Code</th>
                    <th>Employee Name</th>
                    <th>Designation</th>
                  </thead>
                  <tbody>
                    @for (item of approvalSequenceData; track item.Id || $index; let i = $index) {
                      <tr>
                        <td>{{ item.StepOrder }}</td>
                        <td>{{ item.EmployeeCode }}</td>
                        <td>{{ item.EmployeeName }}</td>
                        <td>{{ item.Designation }}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- DEFAULT CASE: No Columns -->
      </ng-container>
    </div>
  </div>
</div>

<div class="row btn-stick" *ngIf="selectedDocumentRequestType">
  <div
    class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center px-4"
    *ngIf="submitDisabledReason"
  >
    <div
      class="alert alert-warning d-flex align-items-center mb-2 py-2 px-3"
      style="font-size: 13px"
    >
      <i class="bi bi-exclamation-triangle-fill me-2 text-warning"></i>
      <span>{{ submitDisabledReason }}</span>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center gap-3 px-4 pb-3">
    <div
      class="col-sm-1"
      *ngIf="
        this.selectedDocumentRequestType == '1' || this.selectedDocumentRequestType == 'DRT-0001'
      "
    >
      <button
        type="button"
        tabindex="0"
        [disabled]="!!submitDisabledReason || isSubmitting"
        class="btn btn-info shadow-sm"
        style="min-width: 120px; height: 35px"
        (click)="DraftDocumentRequests()"
      >
        <i class="bi bi-file-earmark-text me-2"></i>
        Draft
      </button>
    </div>
    <div class="col-sm-1" *ngIf="!isRevisionRequestType">
      <button
        type="button"
        tabindex="0"
        [disabled]="!!submitDisabledReason || isSubmitting"
        class="btn btn-primary shadow-sm"
        style="min-width: 120px; height: 35px"
        (click)="SubmitDocumentRequests()"
      >
        <i class="bi bi-send me-2"></i>
        Submit
      </button>
    </div>

    <div class="col-sm-1" *ngIf="isRevisionRequestType">
      <button
        type="button"
        tabindex="0"
        [disabled]="!!submitDisabledReason || isSubmitting"
        class="btn btn-info shadow-sm"
        style="min-width: 120px; height: 35px"
        (click)="SubmiteRevisionDocumentRequests()"
      >
        <i class="bi bi-file-earmark-text me-2"></i>
        Submit Revision
      </button>
    </div>
  </div>
</div>
